<%= form_with model: [:admin, @test] do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :test_title %>
  </p><br>

  <p>
    <%= form.label :level %><br>
    <%= form.number_field :level %>
  </p><br>

  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>

  <div class="field">
    <%= form.label :completed %> <br />
    <%= form.check_box :completed %> <br />
  </div>

  <p><%= form.submit %></p>
<% end %>