<tr>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: (test == @test ? @test : test) %>
  </td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= test.questions.count %></td>

  <td class="align-middle"> <%= link_to t('shared.links.show'), admin_test_path(test), class: "btn btn-primary btn-sm" %> </td>
  <td class="align-middle"> <%= link_to t('shared.links.edit'),
                                        edit_admin_test_path(test),
                                        class: "form-inline-link",
                                        data: { test_id: test.id } %> </td>
  <td class="align-middle"> <%= link_to t('shared.links.delete'),
                                        admin_test_path(test),
                                        class: "btn btn-danger btn-sm",
                                        method: :delete,
                                        data: { confirm: t('shared.delete_confirmation') } %> </td>
</tr>