<h1><%= t('tests.index.header') %></h1>

<% unless @tests.empty?%>
  <table>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.count') %></th>
    </tr>

    <%= render @tests %>
  </table>
<% else %>
  <p><%= t('.shared.message.no_test') %></p>
<% end %>
