<!DOCTYPE html>
<html>
  <head>
    <title>Testguru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flash_messages' %>

    <% unless logged_in? %>
      <%= render 'shared/nav' %>
    <% else %>
      <p>Welcome, <%= current_user.name %></p>
      <%= link_to 'Exit', session_path(session), method: :delete %>
    <% end %>

    <%= yield %>
    <footer class="footer">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
